<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="portfolio.html" class="brand">MY STUFFS</a>
    </div>
  </div>
</div>
<div id="portfolio_item">
  <div class="container">
    <div class="section_header">
      <h3><a href="portfolio.html">Back</a></h3>
    </div>
    <div class="span7 left_box">
       <div class="big">
         <img src="assets/mona_lisa_1.jpg" />
         <img src="assets/mona_lisa_2.jpg" />
         <img src="assets/mona_lisa_3.jpg" />
       </div>
    </div>
    <div class="span5 right_box">
      <h2>Mona Lisa</h2>
      <p>The Mona Lisa (La Gioconda or La Joconde, or Portrait of Lisa Gherardini, wife of Francesco del Giocondo) is a half-  length portrait of a woman by the Italian artist Leonardo da Vinci, which has been acclaimed as "the best known, the     most visited, the most written about, the most sung about, the most parodied work of art in the world." The painting,     thought to be a portrait of Lisa Gherardini, the wife of Francesco del Giocondo, is in oil on a poplar panel, and is    believed to have been painted between 1503 and 1506. It was acquired by King Francis I of France and is now the property    of the French Republic, on permanent display at the Musee du Louvre in Paris. The ambiguity of the subject's expression,   frequently described as enigmatic, the monumentality of the composition, the subtle modeling of forms and the    atmospheric illusionism were novel qualities that have contributed to the continuing fascination and study of the work.</p>
      <div class="thumbs">
        <div class="thumb">
          <img src="assets/mona_lisa_1.jpg" width="90px" />
          <a href="#" class="mask">
            <div class="more">+</div>
          </a>
        </div>
        <div class="thumb">
          <img src="assets/mona_lisa_2.jpg" width="90px" />
          <a href="#" class="mask">
            <div class="more">+</div>
          </a>
        </div>
        <div class="thumb">
          <img src="assets/mona_lisa_3.jpg" width="90px" />
          <a href="#" class="mask">
            <div class="more">+</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
