<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="/projects" class="brand">MY STUFFS</a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
           <li><a href="/inquiries/new">INQUIRE</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<h1>New inquiry</h1>

<%= render 'form' %>
